<h3></h3>

<!-- search commented out for visual reasons, but feel free to look at code -->
<!--<div class="row">-->
  <!--<div class="col-12">-->
    <!--<app-song-search></app-song-search>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col-12">
    <h3>
      Welcome
    </h3>
    <small class="text-muted">You have {{songs.length}} songs</small>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-12">

    <a *ngFor="let song of songs"
       routerLink="/editor/{{song.id}}">
      <div>
        <h3 class="display-4 text-center mb-4">{{song.title}}</h3>
      </div>
    </a>
    <div class="text-center">
      <a class="btn btn-secondary btn-lg text-center" routerLink="/mysongs" role="button">Edit Songs</a>
    </div>

  </div>

</div>

